body {
  background-image: url('./imgs/main_background.jpg');
  background-position: 0;
  background-size: cover;
  font-family: 'Imbue', serif;
}

h1,
h2 {
  text-transform: capitalize;
}

h1 {
  font-size: 2em;
  font-weight: 100;
}

h2 {
  font-size: 3em;
}

.navbar {
  box-sizing: border-box;
  width: 100vw;
  text-align: right;
  height: 10vh;
  padding: 0 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-bar {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4px;
  display: flex;
  align-items: center;
}

.search-input {
  padding: 5px 20px;
  border: 1px solid white;
  border-radius: 5px;
}

main {
  height: 85vh;
  display: flex;
  align-items: center;
  position: relative;
}

footer {
  height: 5vh;
}

.info-container {
  top: 20%;
  left: calc(50% - 400px);
  position: absolute;
  height: auto;
  color: white;
  width: 400px;
}

.temperature {
  position: relative;
  padding: 1.2rem;
  font-size: 7rem;
}

.temperature::after {
  content: '\00B0 C';
  font-size: 3rem;
  position: absolute;
  top: 0;
  right: 0;
}

.details {
  display: flex;
}

.more-info {
  border-left: 1px solid white;
  width: 100%;
  margin: 10px;
  padding: 0 1em;
  font-size: 1.2em;
}

.icon-container {
  height: 80px;
}

.feel-like {
  position: relative;
  padding-right: 0.5em;
}

.feel-like::after {
  content: '\00B0 C';
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: 0;
}

.search-error {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.1em;
  font-weight: 400;
  color: white;
  padding: 5px;
  transform: scaleY(0);
  transform-origin: top;
  border-bottom: 1px solid red;
  transition: 150ms ease-in-out;
}

.search-error-error {
  transform: scaleY(1);
}
